ignore
dist/
build/
dist-newstyle/
.stack-work/
stack.yaml.lock
cabal-dev
/cabal.project.local
.ghc.environment.*
a.out
*.o
*.o-boot
*.hi
*.hi-boot
*.po
*.po-boot
*.p_o
*.p_o-boot
*.chi
*.chs.h
*.dyn_o
*.dyn_o-boot
*.dyn_hi
*.dyn_hi-boot
*.local
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.aux
*.hp
*.bin
*.log
*.tar.gz

*~
*.DS_Store

# IntelliJ
/.idea
*.iml

# HDL directories often created during development cycle
/contranomy/vhdl
/contranomy/verilog
/contranomy/systemverilog

# Nix output
result*

# Sphinx output
_build/

# rewrite histories
*.dat

# Formal checking temporary files
riscv-formal/cores/contranomy/

# Rust build files
contranomy-rust-starter/target

# Compiled Rust starter ELF file
contranomy/main.elf
