# SPDX-FileCopyrightText: 2022 Google LLC
#
# SPDX-License-Identifier: CC0-1.0

ignore
dist/
build/
dist-newstyle/
.stack-work/
stack.yaml.lock
cabal-dev
/cabal.project.local
.ghc.environment.*
a.out
*.o
*.o-boot
*.hi
*.hi-boot
*.po
*.po-boot
*.p_o
*.p_o-boot
*.chi
*.chs.h
*.dyn_o
*.dyn_o-boot
*.dyn_hi
*.dyn_hi-boot
*.local
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.aux
*.hp
*.bin
*.log
*.tar.gz

*~
*.DS_Store

# IntelliJ
/.idea
*.iml

# HDL directories often created during development cycle
/contranomy/vhdl
/contranomy/verilog
/contranomy/systemverilog

/bittide/vhdl
/bittide/verilog
/bittide/systemverilog

# Nix output
result*

# Sphinx output
_build/

# rewrite histories
*.dat

# Formal checking temporary files
riscv-formal/cores/contranomy/

# Rust build files
target/

# Rust workspace lock file (only used for rust-analyzer)
/Cargo.lock

# ELF file for testing
contranomy-sim/main.elf

# Firmware integration test binaries
firmware-integration-tests/

# Bittide HDL directories
bittide/verilog
bittide/vhdl
bittide/systemverilog
