# SPDX-FileCopyrightText: 2024 Google LLC
#
# SPDX-License-Identifier: CC0-1.0

[Unit]
Description=Set up bridge network with FPGAs
DefaultDependencies=no
Wants=network.target systemd-udev-settle.service
After=local-fs.target network-pre.target systemd-sysctl.service systemd-modules-load.service systemd-udev-settle.service
Before=network.target shutdown.target network-online.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/fpganet
ExecStart=/usr/sbin/ip link add name $BRIDGE_NAME type bridge
ExecStart=/usr/sbin/ip link set dev $BRIDGE_NAME up
ExecStart=/usr/sbin/ip address add $INTERFACE_IP dev $BRIDGE_NAME
ExecStart=/usr/bin/sh -c 'for INTERFACE in $INTERFACES; do /usr/sbin/ip link set dev $INTERFACE up; done'
ExecStart=/usr/bin/sh -c 'for INTERFACE in $INTERFACES; do /usr/sbin/ip link set dev $INTERFACE master $BRIDGE_NAME; done'

ExecStop=/usr/sbin/ip link delete name $BRIDGE_NAME type bridge

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
