# SPDX-FileCopyrightText: 2022 Google LLC
#
# SPDX-License-Identifier: CC0-1.0

[build]
target = "riscv32imafc-unknown-none-elf"
target-dir = "../_build/cargo/firmware-binaries"
rustflags = [
  # XXX: These two seem to be ignored
  "-C", "force-frame-pointers=yes",
  "-C", "force-unwind-tables=yes"
]
[unstable]
build-std = ["core,panic_abort"]
